APP_URL=http://localhost:3333
NODE_ENV=development

#AUTH

APP_SECRET=

#DATABASE

DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=

#MONGO

MONGO_URL=

#REDIS

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

#MAIL

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

#SENTRY

#SENTRY_DSN=https://93ab14ba967447fc816f13987e6af95f@sentry.io/1803782
