<strong>Olá, {{ deliveryman }}</strong>
<p>Sua encomenda foi cancelada! Seque os dados da encomenda</p>
<p>
  <strong>Produto: </strong> {{ product }} <br/>
  <strong>Data/Hora: </strong> {{ date }} <br/>
  <br/>
  <small>
    Será feita uma nova tentativa posteriormente
  </small>
</p>
