<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova encomenda foi cadastrada para que você, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br/>
  <strong>Data/Hora: </strong> {{ date }} <br/>
  <br/>
  <small>
    Não esqueca de capturar a assinatura do cliente.
  </small>
</p>
